.logo {
    height: 150px;
}

.logo>a {}

.logo>a>span {
    line-height: 30px;
    font-size: 20px;
    display: block;
}

.logoA {}

.side-nav{
    width: 250px;
}

.side-nav li > a > i{
    font-size: 24px;
}
.table-of-contents a:hover{
    border-left-width: 3px;
}
.side-nav li>a.logoA {
    height: 100px;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
}
.side-nav li>a.logoA:hover{
    background-color: unset;
    padding: 0 32px;
    border-left: none;
}

/* Main content start */

main{
    margin: 0;
    padding: 0 0 0 250px;
    background-color: #fcfcfc;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
#main_bg{
    background-image: url('../imgs/bg10.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#datText{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    height: fit-content;
    margin: auto;
    padding-left: 250px;
    width: fit-content;
    text-align: right;
    transition: all 1s ease-in 2s;
}
#datText h1:first-child{
    margin-bottom: -20px;
}
#loveText{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
    width: fit-content;
    height: fit-content;
    margin: -10px auto;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 280px;
    color: white;
    transition: all 1s ease-in 2s;
}
.underlined{
    border-bottom: 5px solid #009688;
}