doctype html
html(lang='en')
	head
		include content/main/head.pug
	body(data-spy="scroll", data-target="#sidenav")
		include content/main/sidebar.pug
		main
			include content/specific/portfolio.pug
			include content/specific/hero.pug
			include content/specific/aboutme.pug
			include content/specific/hireme.pug
		include content/main/footer.pug