<div class="mat-app-background">
  <section class="whole mat-typography readingBg">
    <div>
      <h1 class="mat-display-1">About</h1>
      <div>
        <p>Seif is an all-rounder developer and a freelancer since 2010.
          <br>His journey as a professional developer started at the age of 15. He was passionate about technology way before
          that.
        </p>
        <p>His past contracts and positions were mostly focused on Web technologies. So now he is more of a full stack developer
          without preference of backend or frontend.</p>
        <p>Though he aims to become a
          <strong>Generalizing Specialist</strong>, he is taking small steps into it.</p>
        <p>Seif likes to participate in projects with potential; problem-solving contests; or anything that would appear like
          a coding challenge.</p>
        <p>He enjoy's tech talks, Software Engineering podcasts, developers meetups and discussing ideas.</p>
        <p>He is extremely friendly, loves the open-source world and is a part of many communities. Feel free to
          <a routerLink="/" fragment="contact">
            <strong>contact</strong>
          </a> even for a chat.
        </p>
      </div>
    </div>
  </section>
  <section class="whole mat-typography readingBg">
    <div>
      <h1 class="mat-display-1">Short Story</h1>
      <p>Way before his birth, his father was a technology lover.
        <br> Seif found himself surrounded by different tech pieces and gadgets collected by his father (different electronic
        parts, video gaming consoles, computers...).</p>
      <p>Seif grew to like playing around and picked his dad's passion. He enjoyed reading his father's books and magazines.
        Since then his journey began.</p>
      <p>Throughout the years, he spent hours and hours experimenting and playing with computers. But that wasn't all, after
        obtaining his Computer Science degree, he saw that he was only at the very beginning.
      </p>
      <p>Now, he is excited and focused. He's got his head up, grinned, his soul is staring into reaching the next level.</p>
    </div>
  </section>
</div>
