<div>
    <p class="sidenavBrand brand">SeifSG</p>
</div>
<mat-nav-list>
  <a mat-list-item class="sideButtons" routerLink="/" routerLinkActive="active">{{t.home}}</a>
  <a mat-list-item class="sideButtons" routerLink="/portfolio" routerLinkActive="active">{{t.portfolio}}</a>
  <a mat-list-item class="sideButtons" href="https://medium.com/@seifsgayer" target="_blank" routerLinkActive="active">{{t.blog}}</a>
  <a mat-list-item class="sideButtons" routerLink="/" fragment="contact" routerLinkActive="active">{{t.contact}}</a>
  <a mat-list-item class="sideButtons" routerLink="/about" routerLinkActive="active">{{t.about}}</a>
  <a mat-list-item class="sideButtons" routerLink="/about" routerLinkActive="active">{{t.currentActivity}}</a>
  <a mat-list-item class="sideButtons" routerLink="/about" routerLinkActive="active">{{t.activitiesLog}}</a>
  <a mat-list-item class="sideButtons" routerLink="/about" routerLinkActive="active">{{t.usefulResources}}</a>
</mat-nav-list>
