<div>
    <p class="sidenavBrand">SeifSG</p>
</div>
<mat-nav-list>
  <a mat-list-item class="sideButtons" routerLink="/">{{t.home}}</a>
  <a mat-list-item class="sideButtons" routerLink="/portfolio">{{t.portfolio}}</a>
  <a mat-list-item class="sideButtons" href="https://medium.com/@seifsgayer" target="_blank">{{t.blog}}</a>
  <a mat-list-item class="sideButtons" routerLink="/about">{{t.contact}}</a>
  <a mat-list-item class="sideButtons" routerLink="/about">{{t.about}}</a>
  <a mat-list-item class="sideButtons" routerLink="/about">{{t.currentActivity}}</a>
  <a mat-list-item class="sideButtons" routerLink="/about">{{t.activitiesLog}}</a>
  <a mat-list-item class="sideButtons" routerLink="/about">{{t.usefulResources}}</a>
</mat-nav-list>
