.topbar {
  position: fixed;
}

.spacer {
  flex: 1 1 auto;
}

.navLinks {
  display: none;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(255, 0, 0, 0.5);
}

.overSideNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
