a:hover{
  text-decoration: none;
}
.topbar {
  position: fixed;
  background-color: #22509b;
  color: white;
  z-index: 1000;
  box-shadow: 0 1px 6px rgba(57,73,76,.35);
}

.spacer {
  flex: 1 1 auto;
}

#sgBrand{
  font-weight: 500;
}
#sgayerBrand{
  display: none;
}

#navMenuButton{
  display: none;
}

#navDash{
  padding: 0 5px;
}

.navLinks {
  display: none;
  text-transform: uppercase;
}
.navMenuLinks{
  text-transform: capitalize;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(255, 0, 0, 0.5);
}

.overSideNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 930px){
  .navLinks {
    display: inline-block;
  }
  #navMenu{
    display: none;
  }
  #sgBrand{
    display: none;
  }
  #sgayerBrand{
    display: inline-block;
  }
  #navDash{
    padding: 0 10px;
  }
  #navMenuButton{
    display: inline-block;
  }
}
