<mat-toolbar class="topbar">
  <mat-toolbar-row>
    <button mat-icon-button id="navMenu" (click)="sn.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a routerLink="/">
      <span id="sgBrand" class="brand">{{t.seifSgBrand}}</span>
      <span id="sgayerBrand" class="brand">{{t.seifSgayerBrand}}</span>
      <span id="navDash"> - </span>
      <small class="subBrand">Freelancer</small>
      <span id="subBrandCursor">|</span>
    </a>

    <span class="spacer"></span>
    <a mat-button class="navLinks" routerLinkActive="active" routerLink="/">{{t.home}}</a>
    <a mat-button class="navLinks" routerLink="/portfolio" routerLinkActive="active">{{t.portfolio}}</a>
    <a mat-button class="navLinks" [matMenuTriggerFor]="activitiesMenu">{{t.activities}}</a>
    <a mat-button class="navLinks" routerLink="/" fragment="contact" routerLinkActive="active">{{t.contact}}</a>
    <a mat-button class="navLinks" routerLink="/about" routerLinkActive="active">{{t.about}}</a>
    <a mat-icon-button id="navMenuButton" [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>


<mat-menu #activitiesMenu="matMenu">
  <button mat-menu-item class="navMenuLinks"> {{t.currentActivity}} </button>
  <button mat-menu-item class="navMenuLinks"> {{t.activitiesLog}} </button>
</mat-menu>


<mat-menu #appMenu="matMenu">
  <a mat-menu-item class="navMenuLinks" href="https://medium.com/@seifsgayer" routerLinkActive="active">{{t.blog}}</a>
  <button mat-menu-item class="navMenuLinks"> {{t.usefulResources}} </button>
</mat-menu>
