<mat-toolbar color="primary" class="topbar">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sn.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{seifSgBrand}}
      <span id="dash"> - </span>
      <small class="subBrand">Freelancer</small>
      <span  id="subBrandCursor">|</span>
    </span>
    <span class="spacer"></span>
    <button mat-button class="navLinks" routerLink="/">{{t.home}}</button>
    <button mat-button class="navLinks" routerLink="/portfolio">{{t.portfolio}}</button>
    <button mat-button class="navLinks" routerLink="/about">{{t.about}}</button>
  </mat-toolbar-row>
</mat-toolbar>
