@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/* General page css*/

body {
    background-color: #f7f5f6;
    text-rendering: optimizeLegibility!important;
    color: rgba(0, 0, 0, 0.87);
}

.whole {
    min-height: 100vh;
    padding: 15px;
}

::selection{
    background-color: #0274ff;
    text-shadow: none;
    color: white;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #777;
    font-family: 'Lato', sans-serif;
}

h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}

h2:before {
    position: absolute;
    background: #575757;
    height: 2px;
    width: 45px;
    content: "";
    bottom: 0;
}


/* end of that general's story */


/* Who's portfolio? */

#portfolio>.row {
    padding: 2rem;
}

#portfolio h2 {
    font-weight: 300;
}

.title-header {
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid transparent;
    transition: all .3s ease-in-out 1s;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.title-header h3 {
    font-size: 0.80rem;
    margin: 0;
    transition: all .3s ease-in-out 1s;
}

.img-card {
    width: 100%;
    margin: 0;
    border: 1px solid #ccc;
    border-bottom: none;
}

.card-text:last-child {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    background-color: #fff;
}

.card {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #607d8b40;
    transition: all .3s ease-in-out 1s;
    background-color: transparent;
}


/* dat card moves */

.card:hover {
    border-bottom: 3px solid #607d8b80;
    -webkit-box-shadow: 0px 0px 32px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 32px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 32px 2px rgba(0, 0, 0, 0.15);
}

.card:hover .title-header {
    background-color: rgb(185, 0, 0);
    display: block;
}

.card:hover .title-header h3 {
    color: white;
    font-weight: 700;
}

.card:hover .card-text:last-child {
    -webkit-animation: shake 1s;
    animation: shake 1s;
}


/* still no one knows about portfolio */


/* Hero */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: 0;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.video-container video {
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.video-container video.fillWidth {
    width: 100%;
}

#textHero {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 10;
    margin: auto;
}

.hero-text {
    margin: auto;
}


/* The end of the Hero */


/* typed and its baggage */

.typed-cursor {
    display: inline-block;
    margin-left: -2px;
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes typedjsBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}

.typed-fade-out {
    opacity: 0;
    transition: opacity .25s;
    -webkit-animation: 0;
    animation: 0;
}


/* The end of typed and its baggage */


/* here comes dat side nav*/

#sidenav {
    background-color: #222;
    color: white;
    width: 240px;
    position: fixed;
    min-height: 100vh;
    padding: 20px;
}

#logo {}

#logoImg {}

#logoText {}

#brand {}

#slogan {}

#sidenav>ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#sidenav>ul>li {}

#socialIcons {}

#socialIcons>ul {
    list-style: none;
}

#socialIcons>ul>li {}

.sideFooter {}


/* end of dat boi sidenav*/


/* main layout and stuff */

main {
    padding-left: 240px;
}


/* end of everything/main layout and stuff */