/* Hero */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: 0;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.video-container video {
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.video-container video.fillWidth {
    width: 100%;
}

#textHero {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 10;
    margin: auto;
}

.hero-text {
    margin: auto;
}


/* The end of the Hero */


/* typed and its baggage */

.typed-cursor {
    display: inline-block;
    margin-left: -2px;
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes typedjsBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}

.typed-fade-out {
    opacity: 0;
    transition: opacity .25s;
    -webkit-animation: 0;
    animation: 0;
}


/* The end of typed and its baggage */


/* here comes dat side nav*/

#sidenav {
    background-color: #222;
    color: white;
    width: 240px;
    position: fixed;
    min-height: 100vh;
    padding: 20px;
}

#logo {}

#logoImg {}

#logoText {}

#brand {}

#slogan {}

#sidenav>ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#sidenav>ul>li {}

#socialIcons {}

#socialIcons>ul {
    list-style: none;
}

#socialIcons>ul>li {}

.sideFooter {}


/* end of dat boi sidenav*/

/* main layout and stuff */

main{
    padding-left: 240px;
}

/* end of everything/main layout and stuff */