// imports
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css', integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy", crossorigin="anonymous")
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.min.css')
// end imports

// Custom Styles
link(rel='stylesheet', href='../css/main.css')

// meta tags
title Seif Sgayer | SeifSG | Freelancer &amp; Full-Stack Developer

meta(name='description', content='SeifSG (Seif Sgayer) is a full stack developer and a freelancer. Need to hire a programmer? or Read about something interesting? Computer Science, gaming etc...')
meta(name='keywords', content='hire, developer,freelancer, fullstack, javascript, computer, science, seifsg, seif, sgayer, sghaier')

meta(charset='utf-8')
meta(name='viewport', content='width=device-width initial-scale=1')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='robots', content='index, follow')

// open graph stuff
meta(property='og:type', content='website')
meta(property='og:url', content='https://seifsg.com/index.html')
meta(property='og:title', content='Seif Sgayer - Full Stack Developer')
meta(property='og:image:secure_url', content='https://seifsg.com/imgs/og.png')
meta(property='og:image', content='https://seifsg.com/imgs/og.png')
meta(property='og:image:type', content='image/png')
meta(property='og:description', content='SeifSG is a Full Stack developer and a Freelancer')
meta(property='og:site_name', content='Seif Sgayer - Full Stack Developer')
meta(property='og:locale', content='en_US')
meta(property='og:image:width', content='600')
meta(property='og:image:height', content='400')
// twitter card
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='@seifsgayer')
meta(name='twitter:creator', content='@seifsgayer')
meta(name='twitter:url', content='https://seifsg.com/index.html')
meta(name='twitter:title', content='Seif Sgayer - Full Stack Developer')
meta(name='twitter:description', content='SeifSG is a Full Stack developer and a Freelancer')
meta(name='twitter:image', content='https://seifsg.com/imgs/og.png')

// humans
link(type='text/plain', rel='author', href='http://seifsg.com/humans.txt')


// Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-110490620-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag() {
  dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-110490620-1');