nav#sidenav(role="navigation")
	#times(data-toggle='tooltip', title='Toggle Magic!', data-placement='right')
		i.fa.fa-arrow-right(aria-hidden='true')
	.container-fluid
		#logo
			#logoImg
			#logoText
				#brand Seif Sgayer
				#slogan Freelance Developer
		ul#sideLinks
			li
				a(href='#portfolio') Portfolio
			li
				a(href='#aboutme') About me
			li
				a(href='#hireme'
				, data-toggle='tooltip', title='You know you should!', data-placement='right'
				) 
					span.hireme Hire me
			li
				a(href='https://medium.com/@seifsgayer'
				, target='_blank', rel='noopener noreferrer') Blog
			li
				a(href='https://github.com/seifsg/usefulResources', target='_blank', rel='noopener noreferrer'
				, data-toggle='tooltip', title='Very interesting stuff', data-placement='right'
				) More :)
		// because social icons blocked by adblock
		#soupeIcons 
			ul
				li 
					a(href="https://github.com/seifsg"
					, target='_blank', rel='noopener noreferrer')
						i.fa.fa-github(aria-hidden='true')
				li 
					a(href="https://www.linkedin.com/in/seifsg/", target='_blank', rel='noopener noreferrer')
						i.fa.fa-linkedin(aria-hidden='true')
				//li 
					a(href="#")
						i.fa.fa-skype(aria-hidden='true')
				li 
					a(href="https://discord.gg/NpsG9Tk", title='Actually Discord', data-toggle='tooltip', target='_blank', rel='noopener noreferrer')
						i.fa.fa-comments(aria-hidden='true')
				li
					a(href="mailto:seif@sghaier.me", target='_blank', rel='noopener noreferrer')
						i.fa.fa-envelope(aria-hidden='true')
		.sideFooter 
			a(href="https://github.com/seifsg/seifsg.github.io", title="Site's Source Code", data-toggle='tooltip', data-placement='right', , target='_blank', rel='noopener noreferrer') Design &amp; Development by me with 
				i.fa.fa-heart(aria-hidden='true')