nav#sidenav
	#logo
		#logoImg
		#logoText
			#brand Seif Sgayer
			#slogan Freelance Developer
	ul
		li About me
		li Hire me
		li Blog
		li Portfolio
		li More :)
	#socialIcons
		ul
			li <i class="fa fa-github" aria-hidden="true"></i>
			li <i class="fa fa-linkedin" aria-hidden="true"></i>
			li <i class="fa fa-skype" aria-hidden="true"></i>
			li <i class="fa fa-envelope" aria-hidden="true"></i>
	.sideFoooter Made by me with <i class="fa fa-heart" aria-hidden="true"></i>