nav#sidenav
	#times 
		i.fa.fa-times(aria-hidden='true')
	#logo
		#logoImg
		#logoText
			#brand Seif Sgayer
			#slogan Freelance Developer
	ul
		li Portfolio
		li About me
		li Hire me
		li Blog
		li More :)
	#socialIcons
		ul
			li 
				i.fa.fa-github(aria-hidden='true')
			li 
				i.fa.fa-linkedin(aria-hidden='true')
			li 
				i.fa.fa-skype(aria-hidden='true')
			li
				i.fa.fa-envelope(aria-hidden='true')
	.sideFoooter Made by me with 
		i.fa.fa-heart(aria-hidden='true')