nav#sidenav
	#logo
		#logoImg
		#logoText
			#brand Seif Sgayer
			#slogan Freelance Developer
	ul
		li Hire me
		li About me
		li Blog
		li Portfolio
		li More :)
	#socialIcons
		ul
			li Github
			li linkedin
			li discord
			li email
	.sideFoooter Made by me with ♥