@import '~normalize.css/normalize.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-app-background{
	padding-top: 55px;
	min-height: calc(100vh - 55px);
}

html{
	line-height: 0;
}
