<div class="mat-app-background">
  <header>
    <div>
      <h1 class="mat-display-3">
        <span class="homeTypedText"></span>
        <span id="homeTypedTextCursor">|</span>
      </h1>
      <button mat-raised-button id="availableButton" style="display: none" class="animated">{{t.getStarted}}</button>
    </div>
  </header>
  <section class="whole mat-typography">
    <h1 class="mat-display-1">Services</h1>

  </section>
  <section class="whole mat-typography">
    <h1 class="mat-display-1">Contact</h1>

  </section>
</div>
