<div class="mat-app-background">
  <header>
    <video autoplay="" class="vid" loop="" muted="" playsinline="">
      <source src="assets/Hello-World.mp4" type="video/mp4">
    </video>
    <div class="vidOverlay"></div>
    <div>
      <h1 class="mat-display-3">
        <span class="homeTypedText"></span>
        <span id="homeTypedTextCursor">|</span>
      </h1>
      <button mat-raised-button routerLink="/" fragment="services" id="availableButton" style="display: none" class="animated">{{t.getStarted}}</button>
    </div>
  </header>
  <section id="services" class="whole mat-typography">
    <h1 class="mat-display-1">What can 'WE' do?</h1>
    <div class="subDisp">
      <p>
        You and I can introduce sophistically engineered solutions to the world using amazing technologies!
      </p>
    </div>
    <div class="services-grid">
      <div class="service">
        <mat-icon>settings_applications</mat-icon>
        <h2>Applications</h2>
        <p>
          Whether it is for the Web or Desktop
        </p>
        <p>
          Together we can develop the most brilliantly engineered solutions
        </p>
        <p>&nbsp;</p>
      </div>
      <div class="service">
        <mat-icon>people</mat-icon>
        <h2>Improuvments & Consulting</h2>
        <p>
          You are a perfectionist.
        </p>
        <p>You are looking for a powerful asset to deliver more efficient, faster and better!</p>
      </div>
      <div class="service">
        <mat-icon>whatshot</mat-icon>
        <h2>Ideas</h2>
        <p>You have plenty of innovative ideas</p>
        <p>
          A Blockchain tool? A Chatbot?
          <br> Your partner here always loves to work on new technologies!
        </p>
      </div>
    </div>
  </section>
  <section id="contact" class="whole mat-typography">
    <h1 class="mat-display-1">Let's chat!</h1>
    <div class="subDisp">
      <p>Are you one of the above? None of the above? Doesn't matter! Just say Hi
        <mat-icon>insert_emoticon</mat-icon>
      </p>
    </div>
    <div>
      <ul>
        <li>
          <a mat-fab href="https://github.com/seifsg">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a mat-fab href="mailto:seif@sghaier.me">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a mat-fab href="https://discord.gg/NpsG9Tk">
            <i class="fa fa-comments" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a mat-fab href="https://www.linkedin.com/in/seifsg/">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a mat-fab href="https://twitter.com/seifsgayer">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>
</div>
