.container
	article
		h1 About me
		.divider
		.content
			ul
				li Live in Tunisia
				li Freelancer
				li Bachelor of Science in Computer Science
			p
				| Seif is an all-rounder developer and a freelancer since 2010.
				br
				| His journey as a professional developer started at the age of 15. He was passionate about technology
				|                         way before that.
			p
				| His past contracts and positions were mostly focused on Web technologies. So now he is more of a full
				| stack developer without preference of backend or frontend.
			p
				| Though he aims to become a 
				a(href="http://agilemodeling.com/essays/generalizingSpecialists.htm", title='Interesting read', data-toggle='tooltip', target='_blank', rel='noopener noreferrer')
					strong Generalizing Specialist
				|  , he is taking small steps into it.
			p
				| Seif likes to participate in projects with potential; problem-solving contests; or anything that would
				| appear like a coding challenge.
			p
				| He enjoy's tech talks, Software Engineering podcasts, developers meetups and discussing ideas.
			p
				| He is extremely friendly, loves the open-source world and is a part of many communities. Feel free to 
				a(href="https://discord.gg/NpsG9Tk", data-placement='bottom', title='Discord', data-toggle='tooltip', target='_blank', rel='noopener noreferrer')
					strong contact
				|   even for a chat.
	article
		h2 Short Story
		.content
			p
				| Way before his birth, his father was a technology lover.
				br
				|  Seif found himself surrounded by different tech pieces and gadgets collected by his father (different
				|                         electronic parts, video gaming consoles, computers...).
			p
				| Seif grew to like playing around and picked his dad's passion. He enjoyed reading his father's books
				| and magazines. Since then his journey began.
			p
				| Throughout the years, he spent hours and hours experimenting and playing with computers. But that wasn't
				| all, after obtaining his Computer Science degree, he saw that he was only at the very beginning.
			p
				| Now, he is excited and focused. He's got his head up, grinned, his soul is staring into reaching the
				| next level.
	article
		h2 Interesting stuff
		.content
			p
				| Checkout a list of resources that I personally use:
				ul
					li Books I'm reading or done reading
					li Websites I often visit
					li Useful if you seek to learn more about my activities
					li Useful if you want a good list of resources to learn from
			p
				a(href='https://github.com/seifsg/usefulResources', target='_blank', rel='noopener noreferrer'
					, data-toggle="tooltip", title="Available on Github", data-placement='left')
					| Useful resources
				|	
				i.fa.fa-github 