.homepage-hero-module
  .text gg wp bitchs
  .video-container
    .filter
    video.fillWidth(autoplay='true', loop='true')
      source(src='../media/Hello-World.mp4', type='video/mp4')
      | Your browser does not support the video tag. I suggest you upgrade your browser.
      source(src='../media/Hello-World.webm', type='video/webm')
      | Your browser does not support the video tag. I suggest you upgrade your browser.
    .poster.hidden
      img(src='../imgs/Hello-World.jpg', alt='')
