.homepage-hero-module.section.fp-auto-height-responsive
  #textHero
    span.hero-text testing text
  .video-container
    .filter
    video.fillWidth(autoplay, loop)
      source(src='../media/In-The-Clouds.mp4', type='video/mp4')
      | Your browser does not support the video tag. I suggest you upgrade your browser.
      source(src='../media/In-The-Clouds.webm', type='video/webm')
      | Your browser does not support the video tag. I suggest you upgrade your browser.
