.container
	article
		h1 Hire me
		blockquote.blockquote
			p.mb-0 Now that we are up here, let's aim even higher. Together we can build things that matter.
		h2 Let's discuss business
		#sendEmail
			a(href='mailto:seif@sghaier.me') Email Now!	
				i.fa.fa-envelope-o(aria-hidden="true")
		//h2 Why you should hire me?
		//p #todo